<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png?v=QE5m5ojYOq">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png?v=QE5m5ojYOq" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png?v=QE5m5ojYOq" sizes="16x16">
    <link rel="manifest" href="/images/favicons/manifest.json?v=QE5m5ojYOq">
    <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg?v=QE5m5ojYOq" color="#f21f27">
    <link rel="shortcut icon" href="/images/favicons/favicon.ico?v=QE5m5ojYOq">
    <meta name="apple-mobile-web-app-title" content="Ossert">
    <meta name="application-name" content="Ossert">
    <meta name="msapplication-config" content="/images/favicons/browserconfig.xml?v=QE5m5ojYOq">
    <meta name="theme-color" content="#2c3e50">
    <% project ||= OpenStruct.new(name: "Ossert.") %>
    <meta property="og:title" content="<%= project.name %> maintenance & maturity" />
    <meta property="og:description" content="<%= project.name %> maintenance & maturity analysis" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://ossert.evilmartians.io" />
    <meta property="og:image" content="http://ossert.evilmartians.io/images/preview.png" />
    <title>Ossert</title>
    <%= include_styles %>
  </head>
  <body class="page <%= "page_#{}" %> layout">
    <header class="header" id="header">
      <div class="width-container header__content<%= @hide_header_search ? ' header__content_center' : '' %>">
        <% if @hide_header_search %>
          <span class="header__description header__description_left"><%= Ossert.t(:oss_maturity) %></span>
          <a href="/" class="logo header__logo"></a>
          <span class="header__description header__description_right"><%= Ossert.t(:maintenance_cert) %></span>
        <% else %>
          <a href="/" class="logo header__logo"></a>
          <span class="header__description header__description_right"><%= Ossert.t(:oss_maturity) %> & <%= Ossert.t(:maintenance_cert) %></span>
          <form action="#" class="header__search search">
            <input type="text" class="search__input" placeholder="Type package name..." name="package">
            <button class="search__submit">
              <svg class="icon search__submit-icon">
                <use xlink:href="#icon_type_search"></use>
              </svg>
            </button>
          </form>
        <% end %>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <div class="width-container footer__content">
        <a href="https://github.com/ossert/" target="_blank" rel="noopener noreferrer" class="footer__contribute"><%= Ossert.t(:participate) %></a>
        <%= Ossert.t(:copyright) %>
      </div>
    </footer>
    <%= include_js('shared') %>
    <%= include_js('main') %>
    <% if settings.environment == :development %>
    <script src="http://localhost:35729/livereload.js"></script>
    <% end %>
    <% if settings.environment == :production %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-86559627-1', 'auto');
      ga('send', 'pageview', '<%= request.path_info %>');
    </script>
    <% end %>
  </body>
</html>
