<div class="page-search-results">
  <div class="width-container page-search-results__container">
    <h1 class="page-search-results__header">
      <%= Ossert.t(:search_results_for) % {name: params[:name]} %>
    </h1>

    <% search_results.local.exact_match.tap do |exact_match| %>
      <% if exact_match %>
        <div class="page-search-results__exact-match">
          <h4 class="page-search-results__subheader page-search-results__subheader_inline">Exact match:</h4>
          <a class="link page-search-results__exact-gem" href="/<%= exact_match %>" target="_blank"><%= exact_match %></a>
        </div>
      <% end %>

      <% search_results.local.matches(except: exact_match).tap do |local_matches| %>
        <div class="page-search-results__lists">
          <div class="page-search-results__list">
            <% if local_matches.any? %>
              <h4 class="page-search-results__subheader">Found projects:</h4>
              <ul class="gems-list">
                <% local_matches.each do |project_name| %>
                  <li class="gems-list__item">
                    <a class="link gems-list__link" href="/<%= project_name %>" target="_blank"><%= project_name %></a>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
          <div class="page-search-results__list">
            <% search_results.suggestions.matches(except: [exact_match, *local_matches]).tap do |suggestions| %>
              <% next if suggestions.empty? %>
              <h4 class="page-search-results__subheader">You may try suggest projects:</h4>
              <ul class="gems-list">
                <% suggestions.each do |project_name| %>
                  <li class="gems-list__item">
                    <a class="link gems-list__link" href="/suggest/<%= project_name %>"><%= project_name %></a>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

    <p class="page-search-results__suggestion">
      <% if !(search_results.local.exact_match || search_results.suggestions.exact_match) %>
        <% if search_results.found_any? %>
          <%= Ossert.t(:found_not_enough) %>
        <% else %>
          <%= Ossert.t(:found_nothing) %>
        <% end %>
        <%= Ossert.t(:suggest_not_found) % {name: params[:name]} %>
      <% end %>
    </p>

  </div>
</div>
