<main class="layout__content width-container">
    <header class="layout__content-row">
        <div class="layout__content-section">
            <div class="gem">
                <div class="gem-header" id="sticky-project-header">
                    <div class="gem-header__container">
                      <h1 class="gem-header__heading"><%= project.name %></h1>
                      <div class="gem-header__refresh-container">
                        <p class="gem-header__refresh-date">Updated at: <%= project.updated_at.strftime('%d/%m/%Y %H:%M') %></p>
                        <a class="gem-header__refresh-button link" href="/suggest/<%= project.name %>">&#8635; Request Update</a>
                      </div>
                    </div>
                    <div class="gem-header__fixed gem-header__fixed_hidden">
                        <div class="gem-header__fixed-container width-container">
                            <h1 class="gem-header__fixed-heading"><%= project.name %></h1>
                            <ul class="gem-header__fixed-items">
                                <li class="gem-header__fixed-item">
                                    <a href="#maintenance" class="gem-header__fixed-item-link link">Maintenance</a>
                                </li>
                                <li class="gem-header__fixed-item">
                                    <a href="#popularity" class="gem-header__fixed-item-link link">Popularity</a>
                                </li>
                                <li class="gem-header__fixed-item">
                                    <a href="#maturity" class="gem-header__fixed-item-link link">Maturity</a>
                                </li>
                            </ul>
                            <a href="#header" class="gem-header__top-link">
                                <svg class="icon gem-header__top-link-icon">
                                    <use xlink:href="#icon_type_to-top"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <% if project.without_github_data? %>
                  <p class="gem__github-warning">
                    <%= Ossert.t(:no_github_data) %>
                  </p>
                <% end %>
                <div class="gem__description-container">
                  <p class="gem__description">
                    <%= project.meta["description"] %>
                  </p>
                </div>
                <ul class="gem__meta">
                    <% if project.meta["current_version"].present? %>
                        <li class="gem__meta-item">
                            <h6 class="gem__meta-item-header">Current version:</h6>
                            <div class="gem__meta-item-value">
                                <span class="gem__text"><%= project.meta["current_version"] %></span>
                            </div>
                        </li>
                    <% end %>
                    <% if project.meta["authors"].present? %>
                        <li class="gem__meta-item">
                            <h6 class="gem__meta-item-header">Authors:</h6>
                            <div class="gem__meta-item-value gem__meta-item-value_authors">
                                <span class="gem__text"><%= project.meta["authors"] %></span>
                            </div>
                        </li>
                    <% end %>
                    <% if project.meta["top_10_contributors"].present? %>
                        <li class="gem__meta-item">
                            <h6 class="gem__meta-item-header">Top Contributors:</h6>
                            <div class="gem__meta-item-value">
                                <% project.meta["top_10_contributors"].each do |contributor| %>
                                <% name = contributor.split('/').last %>
                                <a class="gem__link link" href="<%= contributor %>" rel="nofollow" target="_blank"> <%= name %> </a>
                                <% end %>
                            </div>
                        </li>
                    <% end %>
                    <li class="gem__meta-item">
                        <h6 class="gem__meta-item-header">Links: </h6>
                        <div class="gem__meta-item-value">
                          <a class="gem__link link" href="https://rubygems.org/gems/<%= project.name %>" rel="nofollow" target="_blank">Rubygems</a>
                          <% if project.meta["homepage_url"].present? %>
                              <a class="gem__link link" href="<%= project.meta["homepage_url"] %>" rel="nofollow" target="_blank">Website</a>
                          <% end %>
                          <% if project.meta["docs_url"].present? %>
                              <a class="gem__link link" href="<%= project.meta["docs_url"] %>" rel="nofollow" target="_blank">RDoc</a>
                          <% end %>
                          <% if project.meta["wiki_url"].present? %>
                              <a class="gem__link link" href="<%= project.meta["wiki_url"] %>" rel="nofollow" target="_blank">Wiki</a>
                          <% end %>
                          <% if project.meta["source_url"].present? %>
                              <a class="gem__link link" href="<%= project.meta["source_url"] %>" rel="nofollow" target="_blank">Source Code</a>
                          <% end %>
                          <% if project.meta["issue_tracker_url"].present? %>
                              <a class="gem__link link" href="<%= project.meta["issue_tracker_url"] %>" rel="nofollow" target="_blank">Bug Tracker</a>
                          <% end %>
                          <% unless project.without_github_data? %>
                              <a class="gem__link link" href="https://github.com/<%= project.github_alias %>" rel="nofollow" target="_blank">GitHub</a>
                          <% end %>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <aside class="layout__sidebar-section">
            <ul class="gem-main-stats">
                <li class="gem-main-stats__item">
                    <a href="#maintenance" class="gem-main-stats__item-link">
                        <svg class="icon icon_type_mark-<%= analysis[:maintenance] %> gem-main-stats__item-mark">
                            <use xlink:href="#icon_type_mark-<%= analysis[:maintenance] %>"></use>
                        </svg>
                        Maintenance
                    </a>
                </li>
                <li class="gem-main-stats__item">
                    <a href="#popularity" class="gem-main-stats__item-link">
                        <svg class="icon icon_type_mark-<%= analysis[:popularity] %> gem-main-stats__item-mark">
                            <use xlink:href="#icon_type_mark-<%= analysis[:popularity] %>"></use>
                        </svg>
                        Popularity
                    </a>
                </li>
                <li class="gem-main-stats__item">
                    <a href="#maturity" class="gem-main-stats__item-link">
                        <svg class="icon icon_type_mark-<%= analysis[:maturity] %> gem-main-stats__item-mark">
                            <use xlink:href="#icon_type_mark-<%= analysis[:maturity] %>"></use>
                        </svg>
                        Maturity
                    </a>
                </li>
            </ul>
        </aside>
    </header>
    <div class="layout__content-row">
        <div class="layout__content-section layout__stats-tables">
            <section class="gem-stats" id="maintenance">
                <header class="gem-stats__header-container">
                    <h3 class="gem-stats__header">Maintenance</h3>
                    <div
                        class="gem-stats__chart gem-stats-chart"
                        data-chart='<%= fast_preview_graph[:maintenance]%>'
                    ></div>
                    <svg class="icon icon_type_mark-<%= analysis[:maintenance] %> gem-stats__mark">
                        <use xlink:href="#icon_type_mark-<%= analysis[:maintenance] %>"></use>
                    </svg>
                </header>
                <p class="gem-stats__description">
                  <%= Ossert.t(:maintenance_description) %>
                </p>
                <table class="gems-stats-table gem-stats__table">
                    <thead class="gems-stats-table__header">
                    <tr class="gems-stats-table__header-row">
                      <th class="gems-stats-table__header-cell">Metric</th>
                      <th class="gems-stats-table__header-cell gems-stats-table__header-cell_values-column">This Year</th>
                      <th class="gems-stats-table__header-cell gems-stats-table__header-cell_values-column">Total</th>
                    </tr>
                    </thead>
                    <tbody class="gems-stats-table__body">
                      <% maintenance_metrics.each do |metric|  %>
                        <tr
                            class="gems-stats-table__row"
                            data-tooltip='<%= metric_lookup[metric][:tooltip] %>'
                        >
                          <td class="gems-stats-table__cell gems-stats-table__cell_title">
                            <%= metric_lookup[metric][:translation] %>
                            <svg class="icon gems-stats-table__info-icon">
                                <use xlink:href="#icon_type_info"></use>
                            </svg>
                          </td>

                          <td class="gems-stats-table__cell gems-stats-table__cell_values-column">
                            <span class="mark-text mark-text_<%= metric_lookup[metric][:last_year_mark] %>"> <%= metric_lookup[metric][:last_year_val] %></span>
                          </td>
                          <td class="gems-stats-table__cell gems-stats-table__cell_values-column">
                              <span class="mark-text mark-text_<%= metric_lookup[metric][:total_mark] %>"><%= metric_lookup[metric][:total_val] %></span>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                </table>
            </section>

            <section class="gem-stats" id="popularity">
                <header class="gem-stats__header-container">
                    <h3 class="gem-stats__header">Popularity</h3>
                    <div
                        class="gem-stats__chart gem-stats-chart"
                        data-chart='<%= fast_preview_graph[:popularity] %>'
                    ></div>
                    <svg class="icon icon_type_mark-<%= analysis[:popularity] %> gem-stats__mark">
                      <use xlink:href="#icon_type_mark-<%= analysis[:popularity] %>"></use>
                    </svg>
                </header>
                <p class="gem-stats__description">
                  <%= Ossert.t(:popularity_description) %>
                </p>
                <table class="gems-stats-table gem-stats__table">
                    <thead class="gems-stats-table__header">
                        <tr class="gems-stats-table__header-row">
                            <th class="gems-stats-table__header-cell">Metric</th>
                            <th class="gems-stats-table__header-cell gems-stats-table__header-cell_values-column">This year</th>
                            <th class="gems-stats-table__header-cell gems-stats-table__header-cell_values-column">Total</th>
                        </tr>
                    </thead>
                    <tbody class="gems-stats-table__body">
                      <% popularity_metrics.each do |metric| %>
                        <tr
                            class="gems-stats-table__row"
                            data-tooltip='<%= metric_lookup[metric][:tooltip] %>'
                        >
                          <td class="gems-stats-table__cell gems-stats-table__cell_title">
                              <%= metric_lookup[metric][:translation] %>
                              <svg class="icon gems-stats-table__info-icon">
                                  <use xlink:href="#icon_type_info"></use>
                              </svg>
                          </td>
                          <td class="gems-stats-table__cell gems-stats-table__cell_values-column">
                            <span class="mark-text mark-text_<%= metric_lookup[metric][:last_year_mark] %>"> <%= metric_lookup[metric][:last_year_val] %></span>
                          </td>
                          <td class="gems-stats-table__cell gems-stats-table__cell_values-column">
                              <span class="mark-text mark-text_<%= metric_lookup[metric][:total_mark] %>"><%= metric_lookup[metric][:total_val] %></span>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                </table>
            </section>

            <section class="gem-stats" id="maturity">
                <header class="gem-stats__header-container">
                    <h3 class="gem-stats__header">Maturity</h3>
                    <div
                        class="gem-stats__chart gem-stats-chart"
                        data-chart='<%= fast_preview_graph[:maturity] %>'
                    ></div>
                    <svg class="icon icon_type_mark-<%= analysis[:maturity] %> gem-stats__mark">
                      <use xlink:href="#icon_type_mark-<%= analysis[:maturity] %>"></use>
                    </svg>
                </header>
                <p class="gem-stats__description">
                  <%= Ossert.t(:maturity_description) %>
                </p>
                <table class="gems-stats-table gem-stats__table">
                    <thead class="gems-stats-table__header">
                    <tr class="gems-stats-table__header-row">
                        <th class="gems-stats-table__header-cell">Metric</th>
                        <th class="gems-stats-table__header-cell gems-stats-table__header-cell_values-column">This year</th>
                        <th class="gems-stats-table__header-cell gems-stats-table__header-cell_values-column">Total</th>
                    </tr>
                    </thead>
                    <tbody class="gems-stats-table__body">

                      <% maturity_metrics.each do |metric|  %>
                        <% next unless metric_lookup[metric] %>
                        <tr
                            class="gems-stats-table__row"
                            data-tooltip='<%= metric_lookup[metric][:tooltip] %>'
                        >
                            <td class="gems-stats-table__cell gems-stats-table__cell_title">
                                <%=  metric_lookup[metric][:translation]  %>
                                <svg class="icon gems-stats-table__info-icon">
                                    <use xlink:href="#icon_type_info"></use>
                                </svg>
                            </td>
                            <td class="gems-stats-table__cell gems-stats-table__cell_values-column">
                              <span class="mark-text mark-text_<%= metric_lookup[metric][:last_year_mark] %>"> <%= metric_lookup[metric][:last_year_val] %></span>
                            </td>
                            <td class="gems-stats-table__cell gems-stats-table__cell_values-column">
                                <span class="mark-text mark-text_<%= metric_lookup[metric][:total_mark] %>"><%= metric_lookup[metric][:total_val] %></span>
                            </td>
                        </tr>
                      <% end %>
                    </tbody>
                </table>
            </section>
        </div>
        <aside class="layout__sidebar-section layout__tooltip-sidebar">
            <div class="help-tooltip help-tooltip_hidden">
                <div class="help-tooltip__arrow"></div>
                <div class="help-tooltip__content"></div>
            </div>
        </aside>
    </div>
</main>
