<main class="layout__content width-container">
    <header class="layout__content-row">
        <div class="layout__content-section">
            <div class="gem">
                <div class="gem-header" id="sticky-project-header">
                  <h1 class="gem-header__heading"><%= project.name %></h1>
                    <div class="gem-header__fixed gem-header__fixed_hidden">
                        <div class="gem-header__fixed-container width-container">
                            <h1 class="gem-header__fixed-heading"><%= project.name %></h1>
                            <ul class="gem-header__fixed-items">
                                <li class="gem-header__fixed-item">
                                    <a href="#popularity" class="gem-header__fixed-item-link link">Popularity</a>
                                </li>
                                <li class="gem-header__fixed-item">
                                    <a href="#maintenance" class="gem-header__fixed-item-link link">Maintenance</a>
                                </li>
                                <li class="gem-header__fixed-item">
                                    <a href="#maturity" class="gem-header__fixed-item-link link">Maturity</a>
                                </li>
                            </ul>
                            <a href="#header" class="gem-header__top-link">
                                <svg class="icon gem-header__top-link-icon">
                                    <use xlink:href="#icon_type_to-top"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <p class="gem__description">
                  <%= project.meta["description"] %>
                </p>
                <ul class="gem__meta">
                    <% if project.meta["current_version"] %>
                        <li class="gem__meta-item">
                            <h6 class="gem__meta-item-header">Current version:</h6>
                            <div class="gem__meta-item-value"><%= project.meta["current_version"] %></div>
                        </li>
                    <% end %>
                    <% if project.meta["authors"] %>
                        <li class="gem__meta-item">
                          <h6 class="gem__meta-item-header">Authors:</h6>
                          <div class="gem__meta-item-value"><%= project.meta["authors"] %></div>
                        </li>
                    <% end %>
                    <% if project.meta["top_10_contributors"].present? %>
                        <li class="gem__meta-item">
                          <h6 class="gem__meta-item-header">Top Contributors:</h6>
                          <div class="gem__meta-item-value">
                            <% project.meta["top_10_contributors"].each do |contributor| %>
                                <% name = contributor.split('/').last %>
                                <a class="gem__link link" href="<%= contributor %>" rel="nofollow" target="_blank"> <%= name %> </a>
                            <% end %>
                          </div>
                        </li>
                    <% end %>
                </ul>
              <div class="gem__links">
                  <p class="gems-stats-table__cell_title"> Links: </p>
                      <% if project.meta["homepage_url"] %>
                        <a class="gem__link link" href="<%= project.meta["homepage_url"] %>" rel="nofollow" target="_blank">Website</a>
                      <% end %>
                      <% if project.meta["docs_url"] %>
                        <a class="gem__link link" href="<%= project.meta["docs_url"] %>" rel="nofollow" target="_blank">RDoc</a>
                      <% end %>
                      <% if project.meta["wiki_url"] %>
                        <a class="gem__link link" href="<%= project.meta["wiki_url"] %>" rel="nofollow" target="_blank">Wiki</a>
                      <% end %>
                      <% if project.meta["source_url"] %>
                        <a class="gem__link link" href="<%= project.meta["source_url"] %>" rel="nofollow" target="_blank">Source Code</a>
                      <% end %>
                      <% if project.meta["issue_tracker_url"] %>
                        <a class="gem__link link" href="<%= project.meta["issue_tracker_url"] %>" rel="nofollow" target="_blank">Bug Tracker</a>
                      <% end %>
                  </div>
                  <div class="gem__links">
                      <a class="gem__link link" href="/suggest/<%= project.name %>">&#8635; Request Update</a>
                      <span>Updated at: <%= project.updated_at.strftime('%d/%m/%Y %H:%M') %></span>
                  </div>
            </div>
        </div>
        <aside class="layout__sidebar-section">
            <ul class="gem-main-stats">
                <li class="gem-main-stats__item">
                    <a href="#popularity" class="gem-main-stats__item-link">
                        <svg class="icon icon_type_mark-<%= analysis_gr[:popularity].downcase %> gem-main-stats__item-mark">
                            <use xlink:href="#icon_type_mark-<%= analysis_gr[:popularity].downcase %>"></use>
                        </svg>
                        Popularity
                    </a>
                </li>
                <li class="gem-main-stats__item">
                    <a href="#maintenance" class="gem-main-stats__item-link">
                        <svg class="icon icon_type_mark-<%= analysis_gr[:maintenance].downcase %> gem-main-stats__item-mark">
                            <use xlink:href="#icon_type_mark-<%= analysis_gr[:maintenance].downcase %>"></use>
                        </svg>
                        Maintenance
                    </a>
                </li>
                <li class="gem-main-stats__item">
                    <a href="#maturity" class="gem-main-stats__item-link">
                        <svg class="icon icon_type_mark-<%= analysis_gr[:maturity].downcase %> gem-main-stats__item-mark">
                            <use xlink:href="#icon_type_mark-<%= analysis_gr[:maturity].downcase %>"></use>
                        </svg>
                        Maturity
                    </a>
                </li>
            </ul>
        </aside>
    </header>
    <div class="layout__content-row">
        <div class="layout__content-section layout__stats-tables">
            <section class="gem-stats" id="popularity">
                <header class="gem-stats__header-container">
                    <h3 class="gem-stats__header">Popularity</h3>
                    <div
                        class="gem-stats__chart gem-stats-chart"
                        data-columns='<%=project.decorated.fast_preview_graph_data[:popularity].to_json%>'
                    ></div>
                    <svg class="icon icon_type_mark-<%= analysis_gr[:popularity].downcase %> gem-stats__mark">
                      <use xlink:href="#icon_type_mark-<%= analysis_gr[:popularity].downcase %>"></use>
                    </svg>
                </header>
                <p class="gem-stats__description">
                    Popularity is metric calculated from user activity for the last year and total from all time. This way we can see if projects popularity rises or is already in decline.
                </p>
                <table class="gems-stats-table gem-stats__table">
                    <thead class="gems-stats-table__header">
                        <tr class="gems-stats-table__header-row">
                            <th class="gems-stats-table__header-cell">Metric</th>
                            <th class="gems-stats-table__header-cell gems-stats-table__header-cell_values-column gems-stats-table__header-cell_values-column-penultimate">This year</th>
                            <th class="gems-stats-table__header-cell gems-stats-table__header-cell_values-column">Total</th>
                        </tr>
                    </thead>
                    <tbody class="gems-stats-table__body">
                      <% popularity_metrics.each do |metric| %>
                        <tr
                            class="gems-stats-table__row"
                            data-tooltip='<%= JSON.generate project.decorated.tooltip_data(metric) %>'
                        >
                            <td class="gems-stats-table__cell gems-stats-table__cell_title">
                                <%= Ossert.t(metric) %>
                                <svg class="icon gems-stats-table__info-icon">
                                    <use xlink:href="#icon_type_info"></use>
                                </svg>
                            </td>
                            <td class="gems-stats-table__cell gems-stats-table__cell_values-column gems-stats-table__cell_values-column-penultimate">
                              <% value = project.decorated.community_last_year[metric] %>
                              <span class="mark-text mark-text_<%= value.try(:[], :mark) %>"> <%= value.try(:[], :text) || 'N/A' %></span>
                            </td>
                            <td class="gems-stats-table__cell gems-stats-table__cell_values-column">
                              <% value = project.decorated.community_total[metric] %>
                                <span class="mark-text mark-text_<%= value.try(:[], :mark) %>"><%= value.try(:[], :text) || 'N/A' %></span>
                            </td>
                        </tr>
                      <% end %>
                    </tbody>
                </table>
            </section>

            <section class="gem-stats" id="maintenance">
                <header class="gem-stats__header-container">
                    <h3 class="gem-stats__header">Maintenance</h3>
                    <div
                        class="gem-stats__chart gem-stats-chart"
                        data-columns='<%=project.decorated.fast_preview_graph_data[:maintenance].to_json%>'
                    ></div>
                    <svg class="icon icon_type_mark-<%= analysis_gr[:maintenance].downcase %> gem-stats__mark">
                        <use xlink:href="#icon_type_mark-<%= analysis_gr[:maintenance].downcase %>"></use>
                    </svg>
                </header>
                <p class="gem-stats__description">
                    Maintenance is metric calculated from project activity for the last year and total from all time. This way we can see if project's developments is dynamic and core team is responsice or project is unstable and non-trusted.
                </p>
                <table class="gems-stats-table gem-stats__table">
                    <thead class="gems-stats-table__header">
                    <tr class="gems-stats-table__header-row">
                        <th class="gems-stats-table__header-cell">Metric</th>
                        <th class="gems-stats-table__header-cell gems-stats-table__header-cell_values-column">This Year</th>
                        <th class="gems-stats-table__header-cell gems-stats-table__header-cell_values-column">Total</th>
                    </tr>
                    </thead>
                    <tbody class="gems-stats-table__body">
                      <% maintenance_metrics.each do |metric|  %>
                        <tr
                            class="gems-stats-table__row"
                            data-tooltip='<%= JSON.generate project.decorated.tooltip_data(metric) %>'
                        >
                            <td class="gems-stats-table__cell gems-stats-table__cell_title">
                                <%= Ossert.t(metric) %>
                                <svg class="icon gems-stats-table__info-icon">
                                    <use xlink:href="#icon_type_info"></use>
                                </svg>
                            </td>
                              <% value = project.decorated.agility_last_year[metric] %>

                            <td class="gems-stats-table__cell gems-stats-table__cell_values-column gems-stats-table__cell_values-column-penultimate">
                              <span class="mark-text mark-text_<%= value.try :[], :mark %>"> <%= value.try(:[], :text) || 'N/A' %></span>
                            </td>
                              <% value = project.decorated.agility_total[metric] %>
                            <td class="gems-stats-table__cell gems-stats-table__cell_values-column">
                                <span class="mark-text mark-text_<%= value.try :[], :mark %>"><%= value.try(:[], :text) || 'N/A' %></span>
                            </td>
                        </tr>
                      <% end %>
                    </tbody>
                </table>
            </section>

            <section class="gem-stats" id="maturity">
                <header class="gem-stats__header-container">
                    <h3 class="gem-stats__header">Maturity</h3>
                    <div
                        class="gem-stats__chart gem-stats-chart"
                        data-columns='<%=project.decorated.fast_preview_graph_data[:maturity].to_json%>'
                    ></div>
                    <svg class="icon icon_type_mark-<%= analysis_gr[:maturity].downcase %> gem-stats__mark">
                      <use xlink:href="#icon_type_mark-<%= analysis_gr[:maturity].downcase %>"></use>
                    </svg>
                </header>
                <p class="gem-stats__description">
                    Maturity is metric calculated from both project and users activity for the last year and total from all time. This way we can see if project reached high growth level or just on its seedling stage.
                </p>
                <table class="gems-stats-table gem-stats__table">
                    <thead class="gems-stats-table__header">
                    <tr class="gems-stats-table__header-row">
                        <th class="gems-stats-table__header-cell">Metric</th>
                        <th class="gems-stats-table__header-cell gems-stats-table__header-cell_values-column gems-stats-table__header-cell_values-column-penultimate">This year</th>
                        <th class="gems-stats-table__header-cell gems-stats-table__header-cell_values-column">Total</th>
                    </tr>
                    </thead>
                    <tbody class="gems-stats-table__body">

                      <% maturity_metrics.each do |metric|  %>
                        <% section = Ossert::Stats.guess_section_by_metric(metric) %>
                        <% next if section.to_s =~ /not_found/ %>
                        <tr
                            class="gems-stats-table__row"
                            data-tooltip='<%= JSON.generate project.decorated.tooltip_data(metric) %>'
                        >
                            <td class="gems-stats-table__cell gems-stats-table__cell_title">
                                <%= Ossert.t(metric) %>
                                <svg class="icon gems-stats-table__info-icon">
                                    <use xlink:href="#icon_type_info"></use>
                                </svg>
                            </td>
                            <% section_last_year = project.decorated.send("#{section}_last_year")[metric] %>
                            <% section_total = project.decorated.send("#{section}_total")[metric] %>

                            <td class="gems-stats-table__cell gems-stats-table__cell_values-column gems-stats-table__cell_values-column-penultimate">
                              <span class="mark-text mark-text_<%= section_last_year.try(:[], :mark) %>"> <%=section_last_year.try(:[], :text) || 'N/A' %></span>
                            </td>
                            <td class="gems-stats-table__cell gems-stats-table__cell_values-column">
                                <span class="mark-text mark-text_<%= section_total.try(:[], :mark) %>"><%= section_total.try(:[], :text) || 'N/A' %></span>
                            </td>
                        </tr>
                      <% end %>
                    </tbody>
                </table>
            </section>
        </div>
        <aside class="layout__sidebar-section layout__tooltip-sidebar">
            <div class="help-tooltip help-tooltip_hidden">
                <div class="help-tooltip__arrow"></div>
                <div class="help-tooltip__content"></div>
            </div>
        </aside>
    </div>
</main>
